div.login
  div.login__head
    h1.login__title
      i.fa.fa-sign-in
      span Sign in to Dashboard
  div.login__body
    div.login__list
      label(for="name" class="login__label") Username
      input(type="text" class="input--full" placeholder="komeda" id="name")
    div.login__list
      label(for="password" class="login__label") Password
      input(type="password" class="input--full" placeholder="Password" id="password")
  div.login__foot
    ul.list-btn.align--center
      li: a(href="#" class="btn btn--success") Sign in
      li: a(href="#" class="btn btn--dark") Create account
