meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
link(rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.min.css")
link(rel="stylesheet" href="../bower_components/adminize/css/adminize.min.css")
title Boilerplate
