ul.breadcrumbs
  li.breadcrumbs__list: a(href="#") Home
  li.breadcrumbs__list Archive template

h1.page-header
  i.fa.fa-file-text
  span Archive template

form(method="" action="")
  div.panel
    div.panel__head
      h2.panel__title
        i.fa.fa-search
        span &nbsp;Search Item
    div.panel__body
      dl.data-list.col2
        dt.data-list__title Name
        dd.data-list__body
          input(type="text" class="input--full")
        dt.data-list__title E-Mail
        dd.data-list__body
          input(type="text" class="input--full")
    div.panel__foot
      ul.list-btn.align--center
        li: button(type="reset" class="btn btn--default with-icon")
          i.fa.fa-times
          span Clear
        li: button(type="submit" class="btn btn--primary with-icon")
          i.fa.fa-search
          span Search

p.weight--bold Result of 5 items

table.table.table--striped
  thead
    tr
      th ID
      th Name
      th E-Mail
      th
  tbody
    for user in users
      tr
        td #{user.id}
        td: a(href="#") #{user.name}
        td #{user.email}
        td.align--right
          ul.list-btn
            li: a(href="#" class="btn btn--default btn--small with-icon")
              i.fa.fa-eye
              span Detail
            li: a(href="#" class="btn btn--danger btn--small with-icon")
              i.fa.fa-trash-o
              span Delete
          
