ul.breadcrumbs
  li.breadcrumbs__list: a(href="#") Home
  li.breadcrumbs__list Detail template

h1.page-header
  i.fa.fa-file-text
  span Detail template


div.panel
  div.panel__body
    dl.data-list
      dt.data-list__title Name
      dd.data-list__body
        input(type="text" value="First-name Last-name" class="input--large")
    dl.data-list
      dt.data-list__title Biography
      dd.data-list__body
        textarea(name="" rows="4" class="input--full")
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
    dl.data-list
      dt.data-list__title Sex
      dd.data-list__body
        ul.list.list-inline
          li
            label(for="male")
              input(type="radio" name="sex" id="male" checked="checked" class="input-styled input--radio")
              i.icon
              span Male
          li
            label(for="female")
              input(type="radio" name="sex" id="female" class="input-styled input--radio")
              i.icon
              span Female
    dl.data-list
      dt.data-list__title Job
      dd.data-list__body
        div.select-styled.select--large
          select(name="")
            option(value="value1") Engineer
            option(value="value2") Designer
            option(value="value3") Sales
          
    dl.data-list
      dt.data-list__title Skill
      dd.data-list__body
        ul.list.list-inline
          li
            label(for="html")
              input(type="checkbox" name="skill" id="html" checked="checked" class="input-styled input--check")
              i.icon
              span HTML
          li
            label(for="css")
              input(type="checkbox" name="skill" id="css" class="input-styled input--check")
              i.icon
              span CSS
          li
            label(for="js")
              input(type="checkbox" name="skill" id="js" class="input-styled input--check")
              i.icon
              span JavaScript
          li
            label(for="php")
              input(type="checkbox" name="skill" id="php" class="input-styled input--check")
              i.icon
              span PHP
          li
            label(for="ruby")
              input(type="checkbox" name="skill" id="ruby" class="input-styled input--check")
              i.icon
              span Ruby
  div.panel__foot
    ul.list.list-btn.align--right
      li: button(type="button" class="btn btn--dark with-icon")
        i.fa.fa-reply
        | Back
      li: button(type="button" class="btn btn--success with-icon")
        i.fa.fa-check
        | Submit
